header {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 32px;


    h1 {
        margin: auto;
        text-align: center;
    }

    img {
        margin: auto 0 auto auto;
        width: 100%;
        max-width: 128px;
    }
}

nav {

    a,
    summary {
        color: #767676;

        &:hover,
        div:hover {
            color: #8a0bc0;
            filter: unset;
        }
    }


    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: auto;

        li {
            position: relative;
            min-height: 32px;
        }
    }

    details {
        position: relative;
        width: 100%;

        summary {
            background-color: #FFF;
            width: max-content;

            div {
                display: flex;
                align-items: center;
                height: 24px;
                width: max-content;
                font-weight: 600;
            }
        }

        ul {
            li+li {
                border-top: 1px solid rgba(#767676, 0.15);
            }

            a {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
    }


    details[open] {
        &>summary div {
            width: max-content;
            padding-right: 16px;
            font-family: inherit;
            color: #8a0bc0;
            font-weight: 600;
            letter-spacing: 0.4px;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 24px;
            width: 100%;
            background-image: linear-gradient(#8a0bc0, #8a0bc0);
            background-position: center;
            background-size: auto 4px;
            background-repeat: no-repeat;
            z-index: -1;
        }

        a:hover {
            filter: hue-rotate(8deg) brightness(1.5);
        }

        ul {
            margin-left: 16px;
            margin-bottom: 8px;
        }

        li {
            padding-left: 16px;
        }
    }
}